:root {
    --white: #fff;
    --white_medium: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main_dark: #42413c;
    --dark: #2a2626;
    --dark_medium: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}